.shop-category-products {
    display: grid;
    grid-template-columns: 1fr 1fr;

}

@media(max-width:800px) {

    .shop-category-products {
        width: 500px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding-right: 80px;
    }
}