@import url('https://fonts.googleapis.com/css2?family=Sofadi+One&display=swap');

.shows {
    background: linear-gradient(180deg, #fde1ff, #e1ffea22 60%);
}

.show-title {
    font-size: 2rem;
    text-align: center;
    font-family: "Sofadi One", system-ui;
    font-weight: 400;
    font-style: normal;
}